body {
  background-color: #9bb895;
  margin: 0%;
  padding: 0%;
  border: 0%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #aaaaaa;
  border-style: solid;
  background-image: url("../img/header-background.jpg");
  height: 150px;
  padding: 0%;
  margin: 0%;
  border: 0px 0px 3px 0px;
}

h2 {
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #e9e9e9;
}

img {
  margin: auto;
  display: block;
  border-radius: 10px;
  width: 500px;
}

ul {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
}

li {
  margin-top: 10px;
  margin-left: 10%;
}

#helloworldbutton,
#jokeButton,
#jokeButtonTable {
  margin: auto;
  display: block;
}

#formDiv,
#resultDiv {
  line-height: 10px;
}

#joke {
  text-align: center;
}

input[type="number"]::placeholder {
  color: #b0cbf5;
}

#jokeTableDiv {
  margin: 2% 10% 0% 10%;
}